$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

/* document styles */
html {
  height: 100%;
  min-height:100%;
}
body {
  font-size:18px;
  font-family:'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin: 0 auto;
  padding:0;
  height: 100%;
  min-height:100%;
}
div {
  /*box-sizing: border-box;*/
}
.container {
  /*margin:0 auto;*/
  /*max-width:970px;*/
  /*border-left: 1px solid #888;
  border-right: 1px solid #888;*/
}
header {
  font-size:1.5em;
}

/* navbar styles */

.navbar {
  background-color: white;
  border: none;
  padding: 1em 0 0 0;
}
h1 {
  font-weight: 200;
  font-size:64px;
  margin:0;
}
.dropdown-menu {
  font-size: 18px;
}
.dropdown-menu > li > a {
  font-weight: 200;
}
/* game layout styles */

.game {
  margin:0 auto;
  max-width:450px;
  max-height:450px;
  /*max-width:970px;*/
  /*border-left: 1px solid #888;
  border-right: 1px solid #888;*/
}
.board {
  margin:0 auto;
  width:450px;
  height:450px;
}
.square {
  text-align: center;
  float: left;
  margin:0;
  padding:0;
  width:150px;
  height:150px;
}
.btn{
  border-radius: 0;
  font-size: 1.5em;
  font-weight: 200;
}
.btn-lg {
  border:none;
  height: 100%;
  width: 100%;
  font-size:5em;
  line-height:1;
  font-weight:200;
  /*box-sizing: border-box;*/
}

/* grid border styles */

.border-row-center {
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
}
.border-col-center {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
}
.border-center {
  border: 1px solid #888888;
}

/* feedback styles */

.message {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}

/* media queries */

@media (max-width: 768px) {
  .navbar-brand {
    font-size:56px;
  }
  .message {
    /*font-size: .85em;
    line-height: 1;*/
  }
}
@media (max-width: 480px) {
  .navbar-brand {
    font-size:48px;
  }
  .message {
    font-size: 1.5em;
  }
  .board {
    width: 300px;
    height: 300px;
  }
  .square {
    width:100px;
    height:100px;
  }
  .btn-lg {
    font-size: 4em;
  }
  h1 {
    font-size:2.5em;
  }
}
