// media queries

@media (max-width: 768px) {
  .navbar {
    h1 {
      font-size: $font-size-base * 2.5;
    }
  }
}

@media (max-width: 480px) {
  .navbar {
    h1 {
      font-size: $font-size-base * 2;
    }
  }

  .message {
    font-size: $font-size-base * 1.5;
  }

  .grid,
  .form-box {
    height: floor($grid-square * .67);
    width: floor($grid-square * .67);
  }

  .square {
    font-size: $font-size-base * 4;
    font-weight: $font-weight-light;
    height: floor($grid-square * .67 / 3);
    line-height: floor($grid-square * .67 / 3);
    width: floor($grid-square * .67 / 3);
  }

  .btn-lg {
    font-size: $font-size-base * 4;
  }

  .btn-grid {
    font-size: $font-size-base * 1.5;
  }
}
