$grid-square: 450px;
$border-radius-base: 0;

// document styles

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  padding: 0;
}

// navbar styles

.navbar {
  background-color: $background-color-base;
  border: 0;
  height: 90px;
  padding: 1em 0 0;
  vertical-align: middle;


  h1 {
    font-size: $font-size-base * 3;
    font-weight: $font-weight-base;
    margin: 0;
  }
}

.nav-state {
  text-align: center;
}

.navbar-btn {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
}

// game layout styles

.content-state {
  margin: 0 auto;
  max-height: $grid-square;
  max-width: $grid-square;
}

.grid {
  box-sizing: border-box;
  height: $grid-square;
  margin: 0 auto;
  width: $grid-square;
}

.form-box {
  border: 1px solid $gray-base;
  height: $grid-square;
  margin: 0 auto;
  padding: 1em;
  width: $grid-square;
}

.square {
  float: left;
  font-size: $font-size-base * 5;
  font-weight: $font-weight-light;
  height: 150px; //floor($grid-square / 3);
  line-height: floor($grid-square / 3);
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 150px; //floor($grid-square / 3);
}

// grid border styles

.border-row-center {
  border-left: 2px solid $gray-border;
  border-right: 2px solid $gray-border;
}

.border-col-center {
  border-bottom: 2px solid $gray-border;
  border-top: 2px solid $gray-border;
}

.border-center {
  border: 2px solid $gray-border;
}

// form styles

legend {
  font-size: $form-title-size;
  font-weight: $font-weight-bold;
}

.form-control {
  font-size: $font-size-base;
  border-color: $gray-border;
  padding: 18px 12px;
  font-weight: $font-weight-bold;
}
// button styles

.btn {
  border-radius: $border-radius-base;
  font-size: $font-size-base * 1.5;
  font-weight: $font-weight-base;
}

.btn-default {
  border-color: $gray-border;
}

.btn-default:hover,
.btn-default:focus {
  background-color: $highlight-color-light;
}


.btn-default:active,
.btn-default.active,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:active:hover,
.btn-default.active:hover,
.open .dropdown-toggle.btn-default  {
  background-color: $highlight-color-dark;
}

.btn-lg {
  border: 0;
  bottom: 0;
  display: block;
  font-size: $font-size-base * 5;
  font-weight: $font-weight-light;
  height: auto;
  left: 0;
  line-height: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.btn-grid {
  font-size: $font-size-base * 2;
  font-weight: $font-weight-base;
}

// feedback styles

.message {
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
}
