$font-family-base: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-weight-base: 300;
$font-weight-light: $font-weight-base - 100;
$font-weight-bold: $font-weight-base + 100;

$font-size-base: 18px;
$form-title-size: ceil($font-size-base * 1.33);
